@font-face {
  font-family: 'PressStart2P';
  font-weight: 400;
  font-display: swap;
  src: 
      url('/fonts/PressStart2P-Regular.woff2') format('woff2'),
      url('/fonts/PressStart2P-Regular.woff') format('woff');
}

:root {
  --page-font-family: 'PressStart2P', monospace;
  --page-font-weight: 400;
  --header-title-font-size: clamp(2.1875rem, 2.0775rem + 0.4695vw, 2.5rem);
  --header-subtitle-font-size: clamp(1.25rem, 1.0299rem + 0.939vw, 1.875rem);
  --header-description-font-size: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
  --section-title-font-size: clamp(1.875rem, 1.6549rem + 0.939vw, 2.5rem);
  --about-description-font-size: clamp(0.5625rem, 0.4085rem + 0.6573vw, 1rem);
  --information-block-title-font-size: clamp(1.125rem, 0.9489rem + 0.7512vw, 1.625rem);
  --information-block-stack-font-size: clamp(0.75rem, 0.618rem + 0.5634vw, 1.125rem);
  --button-font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
  --footer-title-font-size: 15px;
  
  --white: #ffffff;
  --dark-white: #adadad;
  --black: #000000;
  --green: #14A800;
  --dark-grey: #1e1e1e;
  --light-grey: #595959;
  --grey: #3d3d3d;
  --beige: #d7ba7d;
  --yellow: #ffd705;
  --light-blue: #9cdcfe;
  --orange: #ce834d;

  --bg-color-header: var(--white);
  --bg-color-main: var(--dark-grey);
  --text-color: var(--white);

  --bg-image: url('/decorImage/background.svg');

  --page-inline-padding: clamp(0.625rem, -2.456rem + 13.1455vw, 9.375rem); /* 150px-10px */

  --header-block-size: clamp(42.125rem, 34.4225rem + 32.8638vw, 64rem);
  --header-block-start-padding: clamp(6.25rem, 5.1496rem + 4.6948vw, 9.375rem); /* 150px-100px */
  --header-block-end-padding: clamp(5rem, 3.4595rem + 6.5728vw, 9.375rem); /* 150px-80px */

  --main-block-start-padding: clamp(3.75rem, 2.8697rem + 3.7559vw, 6.25rem); /* 100px-60px */
  --main-block-end-padding: clamp(2.8125rem, 2.4824rem + 1.4085vw, 3.75rem); /* 60px-45px */

  --footer-block-end-padding: clamp(1.875rem, 1.4349rem + 1.8779vw, 3.125rem); /* 50px-30px */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  inline-size: 100%;
  min-inline-size: 375px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button,
input {
  background-color: transparent;
  border: none;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

dialog {
  padding: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

#root {
  inline-size: 100%;
  block-size: 100%;
}